<?xml version="1.0"?>
<appSettings>
  <add key="MyWebService" value="http://sampler.GenesysSource.com/Genesys-Framework-for-WebAPI/v4" />
  <add key="MyWebService-Local" value="http://localhost:30002/v4" />
  <add key="MyWebService-Online" value="http://sampler.GenesysSource.com/Genesys-Framework-for-WebAPI/v4" />
</appSettings>