<footer class="container text-center">
    <div class="section-contact">
        <div class="section-contents">
            <hr />
            <br />
            <address class="text-center">
                <span class="logo-company logo-text-company GoodToCode-blue">GoodToCode</span>
                <br />
                22431 Antonio, Suite B160-843
                <br />
                Rancho Santa Margarita, CA 92688
                <br />
                +1 949.544.1900
                <br />
                <a href="http://www.GoodToCode.com">GoodToCode.com</a> | <a href="http://www.twitter.com/GoodToCode">@Html.Raw("@GoodToCode")</a>
                <br />
                <div class="social">
                    <a href="http://www.facebook.com/GoodToCode"><img src="~/Images/social/social-facebook.png" alt="http://facebook.com/GoodToCode" /></a>
                    <a href="http://www.twitter.com/GoodToCode"><img src="~/Images/social/social-twitter.png" alt="http://twitter.com/GoodToCode" /></a>
                    <a href="http://www.GoodToCode.com/news/rss/1"><img src="~/Images/social/social-rss.png" alt="http://www.GoodToCode.com/news/rss/1" /></a>
                </div>
            </address>
            <div class="footer-links">
                <a href="http://docs.GoodToCode.com/products/GoodToCode-Framework/What-is-the-GoodToCode-Framework.pdf" target="_blank">Framework Specs (PDF)</a>
                | <a href="http://docs.GoodToCode.com/products/GoodToCode-Framework/Start-your-GoodToCode-Framework.pdf" target="_blank">Quick-Start Guide (PDF)</a>
                | <a href="http://docs.GoodToCode.com/reference/GoodToCode-framework" target="_blank">Class Reference Library</a>
                | <a href="http://www.GoodToCode.com/contact-us" target="_blank">Report a Problem</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        @(String.Format("Copyright (c) {0} {1}. All rights reserved.", DateTime.UtcNow.Year, "GoodToCode"))
    </div>
</footer>
