<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="Genesys.Extensions.Full" version="4.18.19050.2" targetFramework="net46" />
  <package id="Genesys.Extensions.Portable" version="4.18.19050.2" targetFramework="net46" />
  <package id="Genesys.Framework.DataAccess.Full" version="4.18.19060.2" targetFramework="net46" />
  <package id="Genesys.Framework.Interop.Portable" version="4.18.19060.2" targetFramework="net46" />
</packages>