@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p><span style="font-family: Segoe UI Semilight; font-size: medium;">It is an all too familiar scenario. A little copy and paste here, a little hard-coding there&hellip;deadlines met. Success! Or is it?</span></p>
    <p><span style="font-family: Segoe UI Semilight; font-size: medium;">By year 3, the code base is getting larger and harder to maintain. </span></p>
    <p><span style="font-family: Segoe UI Semilight; font-size: medium;">By year 4, you have to change code in multiple places to change a stored procedure.</span></p>
    <p><span style="font-family: Segoe UI Semilight; font-size: medium;">By year 6, you realize they are never going to approve your proposed rewrite.</span></p>
    <p><span style="font-family: Segoe UI Semilight; font-size: medium;font-style:italic;"><strong>How to reign-in spiraling maintenance costs and decreasing customer satisfaction?</strong></span></p>
    <p><span style="font-family: Segoe UI Semilight; font-size: medium;">&nbsp;</span></p>
    <p><span style="font-family: Segoe UI Semilight; font-size: medium;">We love reusability. We created Genesys Source to share our love of reusability.</span></p>
    <p><span style="font-family: Segoe UI Semilight; font-size: medium;">But we also love reality. We created Genesys Source for the real world that needs reusability quick, easy and to work with your existing database.</span></p>
    <p><span style="font-family: Segoe UI Semilight; font-size: medium;">&nbsp;</span></p>
    <p><span style="font-family: Segoe UI Semilight; font-size: medium;">We hope that our simple, incremental approach to reusability with Genesys Source taking care of the basics, so you can focus on what you know best&hellip;your app and your business.</span></p>
</div>

