<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=tcp:genesysframework.database.windows.net,1433;Initial Catalog=FrameworkData;user id=TestUser; password=57595709-9E9C-47EA-ABBF-4F3BAA1B0D37;Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Application Name=GoodToCodeFramework;" providerName="System.Data.SqlClient" />
  <add name="Example-LocalFile" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\FrameworkData_Primary.mdf;Integrated Security=True;Application Name=GoodToCodeFramework;" providerName="System.Data.SqlClient" />
  <add name="Example-LocalSQL" connectionString="data source=.\;initial catalog=FrameworkData;Integrated Security=True;Multipleactiveresultsets=True;Application Name=GoodToCodeFramework;" providerName="System.Data.SqlClient" />
  <add name="Example-SQLServer" connectionString="Data Source=DatabaseServer.test.goodtocode.com;Initial catalog=FrameworkData;User Id=TestUser;Password=57595709-9E9C-47EA-ABBF-4F3BAA1B0D37;Multipleactiveresultsets=True;Application Name=GoodToCodeFramework;" providerName="System.Data.SqlClient" />
  <add name="Example-EDMX" connectionString="metadata=res://*/GoodToCode.Framework.Test.csdl|res://*/GoodToCode.Framework.Test.ssdl|res://*/GoodToCode.Framework.Test.msl;provider=System.Data.SqlClient;provider connection string='data source=DatabaseServer.dev.GoodToCodeExtensions.com;initial catalog=FrameworkData;integrated security=True;MultipleActiveResultSets=True;App=GoodToCodeFramework'" providerName="System.Data.EntityClient" />
</connectionStrings>
