@using Framework.WebServices;

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <div class="logo-company text-center">GoodToCode</div>
            <div class="logo-product text-center">Framework for Web API</div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/@(CustomerSearchController.ControllerRoute + "/-1/i/x/")" alt="@(CustomerSearchController.GetAction)">@(CustomerSearchController.GetActionText)</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://docs.GoodToCode.com/products/GoodToCode-framework/GoodToCode-framework-ebook.pdf" alt="Docs" target="_blank">eBook</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://www.GoodToCode.com/GoodToCode-framework" alt="GoodToCode Framework" target="_blank">GoodToCode Framework</a>
                        <a class="dropdown-item" href="http://www.GoodToCode.com/cloud-dev-environment" alt="Cloud Dev Environment" target="_blank">Cloud Dev Environment</a>
                    </div>
                </li>
            </ul>
            <div class="text-right">
                <form action="~/@(CustomerSearchController.ControllerRoute)" method="get" class="form-inline input-group-sm btn-group-sm">
                    <span>
                        <input name="id" id="txtIdHeader" type="hidden" placeholder="Customer Id" value="-1">
                        <input name="firstName" id="txtFirstNameHeader" type="text" placeholder="First" value="" class="form-control col-md-2 mr-1">
                        <input name="lastName" id="txtLastNameHeader" type="text" placeholder="Last" value="" class="form-control col-md-2 mr-1">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </span>
                </form>
                <small class="padding-xs">Database: @Html.Raw(CustomerController.CanConnect() ? "<span class='text-success'>[&#x2714;] Connected</span>" : "<strong><span class='text-danger'>[&#x2718;] Not connected</span></strong>")</small>
            </div>
        </div>
    </nav>
</div>