<div id="contact-us" class="section-contact">
    <div class="section-contents">
        <hr />
        <br />
        <address class="text-center">
            <img src="/Images/Genesys-Source/Genesys-Source-Logo.png" alt="Genesys Source - Jump-Start your next .NET project" />
            <br />
            22431 Antonio, Suite B160-843
            <br />
            Rancho Santa Margarita, CA 92688
            <br />
            +1 949.544.1900
            <br />
            <a href="http://www.genesyssource.com" target="_blank">genesyssource.com</a> | <a href="http://www.twitter.com/genesyssource">@("@genesyssource")</a>
            <br />
            <div class="social">
                <a href="http://www.facebook.com/GenesysSource" target="_blank"><img src="/Images/social/social-facebook.png" alt="facebook.com/GenesysSource" /></a>
                <a href="http://www.twitter.com/GenesysSource" target="_blank"><img src="/Images/social/social-twitter.png" alt="twitter.com/GenesysSource" /></a>
                <a href="http://www.genesysstack.com/blog" target="_blank"><img src="/Images/social/social-blog.png" alt="genesysstack.com/blog" /></a>
                <a href="http://www.genesysstack.com/news/rss/1" target="_blank"><img src="/Images/social/social-rss.png" alt="genesysstack.com/news/rss/1" /></a>
            </div>
        </address>
    </div>
</div>
