<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Demo owin</h1>
    <form id="userSignup">
        <input type="text" name="Email" placeholder="Name" />
        <input type="password" name="Password" placeholder="Password" />
        <input type="password" name="ConfirmPassword" placeholder="Confirm password" />
        <input type="submit" id="signup" value="Sign up" />
    </form>
    <form id="userSignin">
        <input type="text" name="UserName" placeholder="Name" />
        <input type="password" name="Password" placeholder="Password" />
        <input type="submit" id="signin" value="Sign in" />
    </form>
    <br />
    <button id="getCurrentInfo">Get info</button>

    <pre id="currentinfo">
    </pre>

    <script src="Scripts/jquery-3.1.1.js"></script>
    <script>
        $(function () {
            var sourceUrl = "http://localhost:30002/v4/customer/36";

            var getCurrentInfo = function () {
                $.ajax(sourceUrl,
                {
                    type: "GET"
                    , headers: getHeaders()
                }).always(showCurrentInfo);
                return false;
            };

            var getHeaders = function () {
                if (token) {
                    return { "Authorization": "Bearer " + token };
                }
            };

            var showCurrentInfo = function (obj) {        
                $("#currentinfo").text('Response: ' + JSON.stringify(obj, null, 3));
            };

            var register = function () {
                var registrationUrl = "http://localhost:30002/api/Account/Register";
                var registrationData = $("#userSignup").serialize();
                $.post(registrationUrl, registrationData).always(showCurrentInfo);
                return false;
            };

            var token = "";

            var saveAccessToken = function (data) {
                token = data.access_token;
            };

            var signin = function () {
                var tokenUrl = "http://localhost:30002/Token";
                var loginData = $("#userSignin").serialize();
                loginData = loginData + "&grant_type=password";
                $.post(tokenUrl, loginData)
                    .success(saveAccessToken)
                    .always(showCurrentInfo);
                return false;
            };

            $("#signin").click(signin);
            $("#signup").click(register);
            $("#getCurrentInfo").click(getCurrentInfo);
        });
    </script>

</body>
</html>
