<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(String.IsNullOrEmpty(ViewBag.Title) ? "Genesys Source - Ready-to-run .NET frameworks and Azure Cloud Dev Environment" : ViewBag.Title)</title>
    @*** Open Graph tags ***@
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Framework.WebApp" />
    <meta property="og:title" content="Site powered by Genesys Source Framework" />
    <meta name="keywords" itemprop="keywords" content=".NET, ASP.NET, MVC, Web API, WPF, Universal, UWP, Cross-platform, Xamarin, reusable, framework" />
    <meta name="description" itemprop="description" property="og:description" content="This site is built with the Genesys Source Framework that centralizes your reusable business objects, such as a CustomerInfo object, in one unified full-stack solution. And shares your reusable objects...with all of your code, in all of your apps.
        Your objects. Your data. Your app. Built on SOLID and ACID principles. Using standard Microsoft .NET technologies." />
    <meta name="author" content="Genesys Source" />
    <meta property="article:publisher" content="http://www.facebook.com/Your-Facebook-Page" />
    <meta property="og:url" itemprop="url" content="http://localhost" />
    <meta itemprop="thumbnailUrl" content="http://www.genesyssource.com/Genesys/Images/Genesys-Framework/Genesys-Framework-Logo.png" /> @*large rectangle image*@
    <meta property="og:image" itemprop="image" content="http://www.genesyssource.com/Genesys/Images/Genesys-Source/Genesys-Source-Logo-Square.png" /> @*80x80 simple company logo*@
    <meta itemprop="logo" content="http://www.genesyssource.com/Genesys/Images/Genesys-Framework/Genesys-Framework-Logo.png" />
    @*** Facebook tags ***@
    <meta property="fb:admins" content="Your-Admin-Id" /> @*Get From: https://developers.facebook.com/tools/explorer/*@
    <meta property="fb:app_id" content="Your-App-Id" /> @*Create app at: https://developers.facebook.com*@
    <meta property="fb:page_id" content="Your-Page-Id" /> @*View source on page or About section*@
    @*** Twitter tags ***@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@Your-Twitter-Handle")" />
    <meta name="twitter:url" content="http://www.twitter.com/Your-Twitter-Page" />
    <meta name="twitter:title" content="Site powered by Genesys Source Framework" />
    <meta name="twitter:description" content="This site is built with the Genesys Source Framework that centralizes your reusable business objects, such as a CustomerInfo object, in one unified full-stack solution. And shares your reusable objects...with all of your code, in all of your apps.
        Your objects. Your data. Your app. Built on SOLID and ACID principles. Using standard Microsoft .NET technologies." />
    <meta name="twitter:image" content="http://www.genesyssource.com/Genesys/Images/Genesys-Source/Genesys-Source-Logo-Square.png" /> @*80x80 simple company logo*@
    @**** End tags ****@
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/genesys-source.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/genesys-source.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @await Html.PartialAsync("~/Partials/Shared/Header.cshtml")
    <div class="container body-content">
        <div class="post-navbar" />
        @RenderBody()
        @await Html.PartialAsync("~/Partials/Shared/Footer.cshtml")
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
