@{
    ViewBag.Title = "Your MVC App powered by Genesys Source";
}

<div class="section-contents section-top">
    <h2>Welcome to your MVC App!</h2>    
    <img src="~/images/genesys/Map-of-the-Genesys-Source-Framework.png" alt="Your Genesys Source Framework" class="text-center" />
    <p class="lead">Your new MVC Web App projects are ready...</p>
    <ul>
        <li><strong>Framework.WebApp: </strong>MVC Web App project. Quick-Start MVC web app that creates, reads, updates and deletes objects using CRUD-to-SQL to the FrameworkData database.</li>
        <li><strong>Framework.Models: </strong>Cross-Platform View Models project. Contains the Framework-level view models for http transport and .Serialize() built-in.</li>
        <li><strong>Framework.Interop: </strong>Cross-Platform Interface project. All projects reference this project so that interfaces are enforced in all tiers, and on mobile device as well.</li>
        <li><strong>Framework.DataAccess: </strong>Entity Framework (EF)/Data Access Object (DAO) project. Contains EF EDMX (database first), Data Access Objects, StoredProcedureEntity, ModelEntity, EntityReader and EntityWriter.</li>
        <li><strong>Framework.Database: </strong>SQL Server Data Tools (SSDT) project. Contains view/SP layer for the Framework.DataAccess to consume.</li>
    </ul>
    <p><small><strong>Important:</strong> Check <strong>\App_Data\AppSettings.config</strong> and <strong>\App_Data\ConnectionStrings.config</strong> for current configuration settings.</small></p>
    <p class="text-center padding-sm"><a href="http://docs.genesyssource.com/products/Genesys-Framework/Start-your-Genesys-Source-Framework.pdf" target="_blank" class="btn btn-primary btn-lg">View Framework Quick-Start Guide &raquo;</a></p>
    <div class="row">
        <div class="col-md-6">
            <h3>What is the Genesys Framework?</h3>
            <h4>Genesys Framework is a business object reusability .NET project, quick-start w/ ready-to-run plumbing</h4>
            <ul>
                <li>Eliminates plumbing time on your .NET projects</li>
                <li>Adds CRUD-to-SQL, CRUD-to-Services</li>
                <li>Self-serializes, self-validates, self-tracks</li>
                <li>Consumable by MVC, Web API, WPF, UWP, Xamarin</li>
            </ul>            
        </div>
        <div class="col-md-6">
            <h3>Other areas of interest</h3>
            <ul>
                <li>Home: <a href="http://www.GenesysSource.com" target="_blank">genesysstack.com</a></li>                                
                <li>Docs: <a href="http://docs.genesyssource.com" target="_blank">docs.genesyssource.com</a></li>
                <li>Help: <a href="http://help.genesyssource.com" target="_blank">help.genesyssource.com</a></li>
                <li>In Visual Studio: <a href="https://marketplace.visualstudio.com/search?term=Genesys&target=VS&sortBy=Relevance" target="_blank">visualstudio.com</a></li>
                <li>On GitHub: <a href="http://www.github.com/GenesysSource" target="_blank">github.com/genesyssource</a></li>
            </ul>
        </div>
    </div>
    <p class="text-center padding-sm"><a class="btn btn-primary btn-lg" href="http://docs.genesyssource.com/products/Genesys-Framework/What-is-the-Genesys-Source-Framework.pdf" target="_blank">View Tech Requirements &raquo;</a></p>
</div>
