<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Genesys.Extras.Portable" publicKeyToken="d7d438e664f27f82" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.18.11.0" newVersion="4.18.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesys.Extensions.Portable" publicKeyToken="d7d438e664f27f82" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.18.11.0" newVersion="4.18.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>