<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Genesys.Extensions.Portable" version="4.18.19050.2" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Genesys.Framework.Interop.Portable" version="4.18.19060.2" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Genesys.Framework.Models.Portable" version="4.18.19060.2" targetFramework="portable46-net451+win81+wpa81" />
</packages>