<footer class="container text-center">
    <div class="section-contact">
        <div class="section-contents">
            <hr />
            <br />
            <address class="text-center">
                <span class="logo-company logo-text-company">genesys source</span>
                <br />
                22431 Antonio, Suite B160-843
                <br />
                Rancho Santa Margarita, CA 92688
                <br />
                +1 949.544.1900
                <br />
                <a href="http://www.genesyssource.com">genesyssource.com</a> | <a href="http://www.twitter.com/genesyssource">@Html.Raw("@genesyssource")</a>
                <br />
                <div class="social">
                    <a href="http://www.facebook.com/GenesysSource"><img src="~/Images/social/social-facebook.png" alt="http://facebook.com/GenesysSource" /></a>
                    <a href="http://www.twitter.com/GenesysSource"><img src="~/Images/social/social-twitter.png" alt="http://twitter.com/GenesysSource" /></a>
                    <a href="http://www.genesysstack.com/news/rss/1"><img src="~/Images/social/social-rss.png" alt="http://www.genesysstack.com/news/rss/1" /></a>
                </div>
            </address>
            <div class="footer-links">
                <a href="http://docs.genesyssource.com/products/Genesys-Framework/What-is-the-Genesys-Source-Framework.pdf" target="_blank">Framework Specs (PDF)</a>
                | <a href="http://docs.genesyssource.com/products/Genesys-Framework/Start-your-Genesys-Source-Framework.pdf" target="_blank">Quick-Start Guide (PDF)</a>
                | <a href="http://docs.genesyssource.com/reference/genesys-framework" target="_blank">Class Reference Library</a>
                | <a href="http://www.genesysstack.com/contact-us" target="_blank">Report a Problem</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        @(String.Format("Copyright (c) {0} {1}. All rights reserved.", DateTime.UtcNow.Year, "Genesys Source"))
    </div>
</footer>
