
/* 
* Header Logo
*/
.logo-container {
    height: 4.5em;
    width: 24em;
    text-align: center;
}

.logo-company {
    font-family: 'Segoe UI';
    font-variant: small-caps;
    font-size: 2em;
    color: firebrick;
    font-weight: 400;
}

.logo-product {
    font-family: 'Segoe UI';
    font-variant: small-caps;
    font-size: 1.25em !important;
    color: gray;
    font-weight: 400;
    margin-top: -0.75em;
}
