@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p>It is an all too familiar scenario. A little copy and paste here, a little hard-coding there...deadlines met. 
    Success! But how about maintenance?</p>
    <p> - By year 3, the code base is getting larger and harder to maintain. </p>
    <p> - By year 4, you have to change code in multiple places to change a stored procedure.</p>
    <p> - By year 6, you realize they are never going to approve your proposed rewrite.</p>
    <p>How to reign-in spiraling maintenance costs and decreasing customer satisfaction?</p>
    <p>We love reusability. We created Genesys Source to share our love of reusability.</p>
    <p>But we also love reality. We created Genesys Source for the real world that needs reusability quick, easy and to work with your existing database.</p>
    <p>We hope that our simple, incremental approach to reusability with Genesys Source taking care of the basics, so you can focus on what you know best&hellip;your app and your business.</p>
</div>

