@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p>If you have an general inquiry, please send an email to <a href="mailto:info@GoodToCode.com">info@GoodToCode.com</a>.</p>
    <p>Technical support for our products, samples and services can be reached at:</p>
    <ul style="list-style-type:circle;">
        <li>Email us anytime at: <a href="mailto:support@GoodToCode.com">support@GoodToCode.com</a></li>
        <li>Or post to our forms and we will respond with any help that we can provide at: <a href="http://www.GoodToCode.com/boards/forum/5/issues-and-solutions">http://www.GoodToCode.com/boards</a></li>
    </ul>
</div>
